@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* leaflet styling for map */
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

/* calendar size */
.rdrMonth {
  width: 100% !important;
}

/* calendar wrapper size */
.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}